@page
@model ScavengerHunt.Pages.SecretRoomModel
@{
 <div class="containerBackground">You've found the secret! This project was created by a rising developer testing the technology of sessions. Sessions are a mechanism used to maintain the state between a client and a server. Sessions involve storing information on a cookie on the client. Thank you for going on a scavenger hunt!</div>
}
